@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Poppins:wght@400;500;600;700&family=Roboto:wght@100;300&family=Ubuntu:wght@700&family=Volkhov:ital,wght@0,700;1,700&display=swap');*{
    margin: 0;
    padding: 0;
}
.container{
    max-width: 80vw;
    font-family: 'Ubuntu', sans-serif;

}
.navbar{
    display: flex;
    height: 67px;
    font-family: 'Inter', sans-serif;
    size: 1000px;
    color: #303031;
}
.navbar li{  
    list-style: none;
    margin: 0 12px;
    
   
}
.topleft{
    width: 50%;
    
}
.topright{
    width: 10%;
    
}
.section1{
    max-height: 100vh;

}
.logo{
    font-size: 2rem;

}
.topright .meimg{
    width: 666px;
}
.meimg{
    height: 100%;
}
.box{
    padding: 8px 0;
    margin: 12px 22px;
    min-width: 20vw;
    border: 2px solid rgb(180, 177, 9);
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 8px;
}
.box ul{
    list-style-type: none;
}
.box ul li{
    margin: 12px 2px ;
}
.boxes {
    display: flex;
    justify-content: center;
    gap: 20px; 
}
.box2 ul{
    list-style-type: none;
}
.box2 ul li{
    margin: 12px 2px ;
}
.section2{
    margin-top: 20px;
}
.boxes2 {
    display: flex;
    justify-content: center;
    gap: 20px; 
}

.text-center2 {
    margin-bottom: 40px;
    padding: 0 8vw;
    text-align: center;
}
.contact-container {
    display: flex;
    justify-content: center;
    gap: 100px; 
    margin-top: 50px;

}
.projects{
    justify-content: left;
    gap: 20px; 
}

.projects ul{
    list-style: none;
    
}
.section3{
    margin-top: 20px;
    margin-bottom: 20px;
}
